/*
 * Copyright (c) 2025, COVESA
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *    * Redistributions of source code must retain the above copyright notice,
 *      this list of conditions and the following disclaimer.
 *    * Redistributions in binary form must reproduce the above copyright
 *      notice, this list of conditions and the following disclaimer in the
 *      documentation and/or other materials provided with the distribution.
 *    * Neither the name of COVESA nor the names of its contributors may be
 *      used to endorse or promote products derived from this software without
 *      specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

&clk_lse {
        clock-frequency = <32768>;
        status = "okay";
};

/{
    chosen{
                zephyr,canbus = &fdcan1;
        };
};
&fdcan1 {
    status = "okay";
};
&mac {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&eth_ref_clk_pa1
               &eth_mdio_pa2
               &eth_crs_dv_pa7
               &eth_mdc_pc1
               &eth_rxd0_pc4
               &eth_rxd1_pc5
               &eth_tx_en_pg11
               &eth_txd0_pg13
               &eth_txd1_pg12>;
};
&mdio {
    compatible = "st,stm32-mdio";
    #address-cells = < 0x1 >;
    #size-cells = < 0x0 >;
    status = "okay";
    pinctrl-0 = < &eth_mdio_pa2 &eth_mdc_pc1 >;
    pinctrl-names = "default";
    ethernet-phy@0 {
        compatible = "ethernet-phy";
        reg = < 0x0 >;
        status = "okay";
    };
};